<!-- list_files.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Files</title>
</head>
<body>
    <h1>Uploaded Files</h1>
    <ul>
        {% for document in documents %}
            <li>
                <a href="{{ document.file.url }}" target="_blank">
                    {{ document.file.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
